
module loaderlocalv1 1.0;

require {
	type init_t;
	type var_run_t;
	type auditd_t;
	type udev_t;
	type tmp_t;
	type smbd_t;
	type zos_remote_exec_t;
	type nmbd_t;
	type initrc_runtime_t;
	type audisp_remote_exec_t;
	type home_root_t;
	type automount_t;
	type efivarfs_t;
	type systemd_tmpfiles_t;
	class dir { add_name create getattr mounton search setattr };
	class file getattr;
	class capability net_admin;
}

#============= auditd_t ==============
allow auditd_t audisp_remote_exec_t:file getattr;
allow auditd_t zos_remote_exec_t:file getattr;

#============= automount_t ==============
allow automount_t tmp_t:dir mounton;

#============= init_t ==============
allow init_t self:dir mounton;

#============= nmbd_t ==============
allow nmbd_t self:capability net_admin;

#============= smbd_t ==============
allow smbd_t self:capability net_admin;

#============= systemd_tmpfiles_t ==============

#!!!! This avc can be allowed using the boolean 'systemd_tmpfiles_manage_all'
allow systemd_tmpfiles_t home_root_t:dir setattr;

#!!!! This avc can be allowed using the boolean 'systemd_tmpfiles_manage_all'
allow systemd_tmpfiles_t tmp_t:dir { add_name setattr };

#============= udev_t ==============
allow udev_t efivarfs_t:dir search;
allow udev_t initrc_runtime_t:dir { getattr search };
allow udev_t var_run_t:dir create;
