
module loaderlocalv2 1.0;

require {
	type systemd_generator_t;
	type public_content_rw_t;
	type groupadd_t;
	type sshd_t;
	type tmp_t;
	type user_tmp_t;
	type mandb_t;
	type semanage_t;
	type systemd_detect_virt_t;
	type automount_t;
	type sysadm_su_t;
	type tls_privkey_t;
		type user_home_dir_t;
	type proc_t;
	type sysadm_sudo_t;
	type nmbd_t;
	type init_runtime_t;
	type init_t;
	type sysctl_t;
	type ftpd_t;
	type initrc_runtime_t;
	type unreserved_port_t;
	type var_log_t;
	type samba_var_t;
	type sysfs_t;
	type smbd_t;
	type useradd_t;
	type var_run_t;
	type udev_t;
	type sysctl_kernel_t;
	type kmod_t;
	type unconfined_t;
	class file { append create getattr ioctl map open read rename unlink write };
	class dir { add_name create getattr mounton open read remove_name search write };
	class fifo_file { ioctl read };
	class lnk_file read;
	class capability net_admin;
	class tcp_socket name_bind;
	class filesystem getattr;
}

#============= automount_t ==============
allow automount_t tmp_t:dir mounton;

#============= ftpd_t ==============

#!!!! This avc is allowed in the current policy
allow ftpd_t tls_privkey_t:dir search;

#!!!! This avc is allowed in the current policy
allow ftpd_t tls_privkey_t:file { getattr open read };

#============= groupadd_t ==============
allow groupadd_t unconfined_t:fifo_file { ioctl read };

#============= init_t ==============
allow init_t self:dir mounton;

#============= kmod_t ==============
allow kmod_t user_tmp_t:dir { add_name getattr open read remove_name search write };
allow kmod_t user_tmp_t:file { create getattr map open read rename unlink };
allow kmod_t user_tmp_t:lnk_file read;

#============= mandb_t ==============
allow mandb_t public_content_rw_t:dir search;

#============= nmbd_t ==============

#!!!! This avc is allowed in the current policy
allow nmbd_t samba_var_t:dir create;
allow nmbd_t self:capability net_admin;

#============= semanage_t ==============
allow semanage_t user_home_dir_t:file { getattr map open read };

#============= smbd_t ==============
allow smbd_t self:capability net_admin;

#============= sshd_t ==============
allow sshd_t user_home_dir_t:file read;
allow sshd_t unreserved_port_t:tcp_socket name_bind;

#============= sysadm_su_t ==============
allow sysadm_su_t proc_t:filesystem getattr;

#============= sysadm_sudo_t ==============
allow sysadm_sudo_t proc_t:filesystem getattr;

#============= systemd_detect_virt_t ==============
allow systemd_detect_virt_t init_runtime_t:dir search;
allow systemd_detect_virt_t init_t:dir search;
allow systemd_detect_virt_t init_t:file { getattr ioctl open read };
allow systemd_detect_virt_t proc_t:file { getattr ioctl open read };
allow systemd_detect_virt_t sysctl_kernel_t:dir search;
allow systemd_detect_virt_t sysctl_kernel_t:file { getattr ioctl open read };
allow systemd_detect_virt_t sysctl_t:dir search;
allow systemd_detect_virt_t sysfs_t:file { getattr ioctl open read };
allow systemd_detect_virt_t sysfs_t:lnk_file read;
allow systemd_detect_virt_t var_log_t:file { append getattr };

#============= systemd_generator_t ==============
allow systemd_generator_t public_content_rw_t:dir getattr;

#============= udev_t ==============
allow udev_t initrc_runtime_t:dir { getattr search };
allow udev_t var_run_t:file { getattr open write };

#============= useradd_t ==============
allow useradd_t unconfined_t:fifo_file { ioctl read };
