
module nodegcc_app1 1.0;

require {
	type wtmp_t;
	type device_t;
	type staff_systemd_t;
	type utempter_exec_t;
	type sound_device_t;
	type udev_runtime_t;
	type initrc_tmp_t;
	type fixed_disk_device_t;
	type urandom_device_t;
	type user_home_dir_t;
	type var_t;
	type sysadm_screen_t;
	type mdadm_t;
	type kmod_t;
	type debugfs_t;
	type system_cronjob_t;
	type sendmail_initrc_exec_t;
	type crond_t;
	type dhcpc_t;
	type usr_t;
	type sysadm_t;
	type user_home_t;
	type fs_t;
	type initrc_runtime_t;
	type etc_mail_t;
	class blk_file { open read };
	class capability dac_read_search;
	class service status;
	class dir { add_name write open read getattr relabelfrom relabelto remove_name search setattr };
	class chr_file { getattr open read remove_name search write };
#	class file { append create execute getattr lock map open read rename unlink execute_no_trans relabelfrom relabelto setattr };
	class file { create getattr map open read rename unlink write append execute execute_no_trans relabelfrom relabelto setattr };
	class lnk_file { create rename unlink read };
	class filesystem associate;
}

#============= kmod_t ==============
allow kmod_t initrc_tmp_t:dir { add_name getattr open read remove_name search write };
allow kmod_t initrc_tmp_t:file { create getattr map open read rename unlink write };
allow kmod_t initrc_tmp_t:lnk_file read;

#============= mdadm_t ==============
allow mdadm_t debugfs_t:dir search;
allow mdadm_t device_t:blk_file { open read };
allow mdadm_t udev_runtime_t:dir getattr;

#!!!! This avc can be allowed using the boolean 'global_ssp'
allow mdadm_t urandom_device_t:chr_file { open read };
allow mdadm_t var_t:file append;

#============= staff_systemd_t ==============
allow staff_systemd_t sound_device_t:chr_file getattr;

#============= sysadm_screen_t ==============
allow sysadm_screen_t self:capability dac_read_search;
allow sysadm_screen_t user_home_t:dir search;
allow sysadm_screen_t utempter_exec_t:file { map open read };
#allow sysadm_screen_t wtmp_t:file { lock open write };

#============= sysadm_t ==============
allow sysadm_t fixed_disk_device_t:blk_file { open read };
allow sysadm_t user_home_dir_t:file { execute execute_no_trans };

#============= crond_t ==============
allow crond_t etc_mail_t:dir { getattr search };

#============= dhcpc_t ==============
allow dhcpc_t etc_mail_t:dir search;
allow dhcpc_t usr_t:file execute;

#============= staff_systemd_t ==============
allow staff_systemd_t user_home_t:dir { getattr search };

#============= sysadm_t ==============
allow sysadm_t fs_t:filesystem associate;
allow sysadm_t self:dir { add_name relabelfrom relabelto remove_name setattr write };
allow sysadm_t self:file { create relabelfrom relabelto setattr };
allow sysadm_t self:lnk_file { create rename unlink };

#============= system_cronjob_t ==============
allow system_cronjob_t initrc_runtime_t:dir write;
allow system_cronjob_t sendmail_initrc_exec_t:service status;
