
module sphinxtev1 1.0;

require {
	type var_t;
	type usr_t;
	type fsadm_t;
	type node_t;
	type sysadm_t;
	class tcp_socket node_bind;
	class file { execute execute_no_trans read write };
}

#============= fsadm_t ==============
allow fsadm_t var_t:file { read write };

#============= sysadm_t ==============

#!!!! This avc can be allowed using the boolean 'allow_ypbind'
allow sysadm_t node_t:tcp_socket node_bind;
allow sysadm_t usr_t:file { execute execute_no_trans };
