
module sudotevb2 1.0;

require {
	type dpkg_var_lib_t;
	type user_home_dir_t;
	type crond_t;
	type var_t;
	type mount_t;
	type system_cronjob_t;
	type tmp_t;
	type user_home_t;
	type xdg_data_t;
	type security_t;
	type xdg_data_t;
	type system_cron_spool_t;
	type sysadm_sudo_t;
	type sysadm_crontab_t;
	type public_content_rw_t;
	type ssh_t;
	class security setbool;
	class dir { add_name getattr remove_name search write read open write search };
	class file { create getattr open read rename setattr write relabelto unlink };
	class capability dac_read_search;
	class capability { setpcap dac_read_search };
}

#============= crond_t ==============

#!!!! This avc is a constraint violation.  You would need to modify the attributes of either the source or target types to allow this access.
#Constraint rule: 
#	constrain process { transition noatsecure siginh rlimitinh dyntransition } ((u1 == u2 -Fail-)  or (t1 == can_change_process_identity)  and (t2 == process_user_target -Fail-)  or (t1 == cron_source_domain)  and (t2 == cron_job_domain -Fail-)  or (u2 == system_u -Fail-)  or (t1 == can_system_change -Fail-)  and (u2 == system_u -Fail-)  or (t1 == process_uncond_exempt -Fail-) ); Constraint DENIED

#============= mount_t ==============

#!!!! This avc is allowed in the current policy
allow mount_t self:capability setpcap;

#============= system_cronjob_t ==============

#!!!! This avc is a constraint violation.  You would need to modify the attributes of either the source or target types to allow this access.
#Constraint rule: 
#	constrain file { create relabelfrom relabelto } ((u1 == u2 -Fail-)  or (t1 == can_change_object_identity -Fail-) ); Constraint DENIED

#	Possible cause is the source user (unconfined_u) and target user (system_u) are different.
#	Possible cause is the source level (s0-s0:c0.c1023) and target level (s0) are different.
allow system_cronjob_t var_t:file relabelto;

#============= sysadm_sudo_t ==============
allow sysadm_sudo_t dpkg_var_lib_t:dir { open read };

#============= sysadm_sudo_t ==============
allow sysadm_sudo_t user_home_dir_t:dir { read open write };

#============= sysadm_sudo_t ==============
allow sysadm_sudo_t public_content_rw_t:dir { search read write open };

#============= mount_t ==============
allow mount_t self:capability dac_read_search;

allow sysadm_crontab_t system_cron_spool_t:dir { add_name getattr remove_name search write };
allow sysadm_crontab_t system_cron_spool_t:file { create getattr open read rename setattr write };

#!!!! This avc is a constraint violation.  You would need to modify the attributes of either the source or target types to allow this access.
#Constraint rule: 
#	constrain file { ioctl read write create getattr setattr lock relabelfrom relabelto append map unlink link rename execute quotaon mounton audit_access open execmod watch watch_mount watch_sb watch_with_perm watch_reads execute_no_trans entrypoint } ((u1 == u2 -Fail-)  or (u1 == system_u -Fail-)  or (u1 == unconfined_u -Fail-)  or (u1 == sysadm_u -Fail-)  or (u2 == system_u -Fail-)  or (t1 != ubac_constrained_type -Fail-)  or (t2 != ubac_constrained_type -Fail-)  or (t1 == ubacfile -Fail-) ); Constraint DENIED

#	Possible cause is the source user (root) and target user (unconfined_u) are different.
#	Possible cause is the source level (s0-s0:c0.c1023) and target level (s0) are different.
allow sysadm_crontab_t user_home_t:file { getattr open read };

#!!!! This avc is a constraint violation.  You would need to modify the attributes of either the source or target types to allow this access.
#Constraint rule: 
#	constrain dir { ioctl read write create getattr setattr lock relabelfrom relabelto append map unlink link rename execute quotaon mounton audit_access open execmod watch watch_mount watch_sb watch_with_perm watch_reads add_name remove_name reparent search rmdir } ((u1 == u2 -Fail-)  or (u1 == system_u -Fail-)  or (u1 == unconfined_u -Fail-)  or (u1 == sysadm_u -Fail-)  or (u2 == system_u -Fail-)  or (t1 != ubac_constrained_type -Fail-)  or (t2 != ubac_constrained_type -Fail-)  or (t1 == ubacfile -Fail-) ); Constraint DENIED

#	Possible cause is the source user (root) and target user (unconfined_u) are different.
#	Possible cause is the source level (s0-s0:c0.c1023) and target level (s0) are different.
allow sysadm_crontab_t xdg_data_t:dir { getattr search };

#============= sysadm_sudo_t ==============
allow sysadm_sudo_t security_t:security setbool;
allow sysadm_sudo_t tmp_t:dir add_name;





#============= sysadm_crontab_t ==============

#!!!! This avc is allowed in the current policy
allow sysadm_crontab_t self:capability dac_read_search;

#!!!! This avc is allowed in the current policy
allow sysadm_crontab_t system_cron_spool_t:file unlink;

#!!!! This avc is a constraint violation.  You would need to modify the attributes of either the source or target types to allow this access.
#Constraint rule: 
#	constrain file { ioctl read write create getattr setattr lock relabelfrom relabelto append map unlink link rename execute quotaon mounton audit_access open execmod watch watch_mount watch_sb watch_with_perm watch_reads execute_no_trans entrypoint } ((u1 == u2 -Fail-)  or (u1 == system_u -Fail-)  or (u1 == unconfined_u -Fail-)  or (u1 == sysadm_u -Fail-)  or (u2 == system_u -Fail-)  or (t1 != ubac_constrained_type -Fail-)  or (t2 != ubac_constrained_type -Fail-)  or (t1 == ubacfile -Fail-) ); Constraint DENIED

#	Possible cause is the source user (root) and target user (unconfined_u) are different.
#	Possible cause is the source level (s0-s0:c0.c1023) and target level (s0) are different.
#allow sysadm_crontab_t user_home_t:file read;

#!!!! This avc is a constraint violation.  You would need to modify the attributes of either the source or target types to allow this access.
#Constraint rule: 
#	constrain dir { ioctl read write create getattr setattr lock relabelfrom relabelto append map unlink link rename execute quotaon mounton audit_access open execmod watch watch_mount watch_sb watch_with_perm watch_reads add_name remove_name reparent search rmdir } ((u1 == u2 -Fail-)  or (u1 == system_u -Fail-)  or (u1 == unconfined_u -Fail-)  or (u1 == sysadm_u -Fail-)  or (u2 == system_u -Fail-)  or (t1 != ubac_constrained_type -Fail-)  or (t2 != ubac_constrained_type -Fail-)  or (t1 == ubacfile -Fail-) ); Constraint DENIED

#	Possible cause is the source user (root) and target user (unconfined_u) are different.
#	Possible cause is the source level (s0-s0:c0.c1023) and target level (s0) are different.
allow sysadm_crontab_t xdg_data_t:dir { search read write };

#============= ssh_t ==============
allow ssh_t user_home_dir_t:file { getattr open read };
allow ssh_t user_home_t:file { getattr open read };
